/* Tooltip styling */
#tooltip {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 10;
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tooltip-grid {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: repeat(3, 20px);
    gap: 2px;
}

.tooltip-pixel {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}
